<h1><span class="glyphicon glyphicon-user"></span> {{ 'USERS.TITLE' | translate:param }}</h1>
<div>
  <button class="btn btn-success btn-sm" (click)="createUser()">{{ 'USERS.CREATENEWUSER' | translate:param }}</button>
</div>
<p *ngIf="!users"><em>{{ 'GLOBAL.LOADING' | translate:param }}...</em></p>

<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

<table class="table table-condensed table-hover table-striped" *ngIf="users">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{{ 'USERS.EMAILCOL' | translate:param }}</th>
      <th scope="col">{{ 'USERS.NAMECOL' | translate:param }}</th>
      <th scope="col">{{ 'USERS.BUYNEXTORDER' | translate:param }}</th>
      <th scope="col">{{ 'USERS.BANKACCOUNTCOL' | translate:param }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.email }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.orderTokenLocker }}</td>
      <td>{{ user.bankAccount }}</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="lockUser(user)">{{ 'USERS.LOCKACCOUNT' | translate:param }}</button>
        <button class="btn btn-warning btn-sm" (click)="editUser(user)">{{ 'GLOBAL.EDIT' | translate:param }}</button>
        <button class="btn btn-danger btn-sm" (click)="deleteUser(user)">{{ 'GLOBAL.DELETE' | translate:param }}</button>
      </td>
    </tr>
  </tbody>
</table>
