<h1><span class="glyphicon glyphicon-user"></span> Users</h1>
<div>
  <button class="btn btn-success btn-sm" (click)="createUser()">Create new user</button>
</div>
<p *ngIf="!users"><em>Loading...</em></p>

<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

<table class="table table-condensed table-hover table-striped" *ngIf="users">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Is going to buy next order</th>
      <th scope="col">Bank account</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.email }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.orderTokenLocker }}</td>
      <td>{{ user.bankAccount }}</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="lockUser(user)">Lock account</button>
        <button class="btn btn-warning btn-sm" (click)="editUser(user)">Edit</button>
        <button class="btn btn-danger btn-sm" (click)="deleteUser(user)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
