<div class="row">
  <h1><span class="glyphicon glyphicon-grain"></span>{{'YERBACREATE.TITLE' | translate:param }}</h1>
  <div class="col-md-5">
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <form (submit)="onCreate()" #theForm="ngForm" invalidate>
      <input type="hidden" class="form-control" name="id" [(ngModel)]="yerba.id" />
      <div class="form-group">
        <label for="name">{{'YERBACREATE.NAME' | translate:param }}:</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="yerba.name" required />
      </div>
      <div class="form-group">
        <label for="url">{{'YERBACREATE.URL' | translate:param }}:</label>
        <input type="url" class="form-control" #url="ngModel" name="url" [(ngModel)]="yerba.url" pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,})" />
        <div *ngIf="url.invalid && (url.dirty || url.touched)"
             class="alert alert-danger">
          {{'YERBACREATE.NOTVALIDURL' | translate:param }}
        </div>
      </div>
      <div class="form-group">
        <label for="gentian">Gentian:</label>
        <select class="form-control" name="gentian" [(ngModel)]="yerba.gentian">
          <option [ngValue]="null" disabled>{{'YERBACREATE.CHOOSEYERBAGENTIAN' | translate:param }}</option>
          <option [ngValue]="1">{{'YERBACREATE.VERYBITTER' | translate:param }}</option>
          <option [ngValue]="2">{{'YERBACREATE.BITTER' | translate:param }}</option>
          <option [ngValue]="3">{{'YERBACREATE.NEUTRAL' | translate:param }}</option>
          <option [ngValue]="4">{{'YERBACREATE.SLIGHTLYSWEET' | translate:param }}</option>
          <option [ngValue]="5">{{'YERBACREATE.SWEET' | translate:param }}</option>
          <option [ngValue]="6">{{'YERBACREATE.VERYSWEET' | translate:param }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="size">{{'YERBACREATE.SIZE' | translate:param }}:</label>
        <input type="number" class="form-control" name="size" [(ngModel)]="yerba.size" />
      </div>
      <div class="form-group">
        <label for="producent">{{'YERBACREATE.PRODUCER' | translate:param }}:</label>
        <input type="text" class="form-control" name="producent" [(ngModel)]="yerba.producent" />
      </div>
      <div class="form-group">
        <label for="mark">{{'YERBACREATE.MARK' | translate:param }}:</label>
        <input type="text" class="form-control" name="mark" [(ngModel)]="yerba.mark" />
      </div>
      <div class="form-group">
        <label for="country">{{'YERBACREATE.COUNTRY' | translate:param }}:</label>
        <input type="text" class="form-control" name="country" [(ngModel)]="yerba.country" />
      </div>
      <div class="form-group">
        <label for="components">{{'YERBACREATE.COMPONENTS' | translate:param }}:</label>
        <textarea class="form-control" name="components" [(ngModel)]="yerba.components"></textarea>
      </div>
      <div class="form-group">
        <label for="description">{{'YERBACREATE.DESCRIPTION' | translate:param }}:</label>
        <textarea class="form-control" name="description" [(ngModel)]="yerba.description"></textarea>
      </div>
      <div class="form-group">
        <label for="cost">{{'YERBACREATE.COST' | translate:param }}:</label>
        <input type="number" class="form-control" name="cost" [(ngModel)]="yerba.cost" #cost="ngModel" ngModel />

      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success" value="{{(openForEdit ? 'GLOBAL.CREATE' : 'GLOBAL.UPDATE') | translate:param}}" [disabled]="theForm.invalid" />
        <a [routerLink]='["/yerbas"]' class="btn btn-default">{{'GLOBAL.CANCEL' | translate:param }}</a>
      </div>
    </form>
  </div>
</div>
