<h1>{{ 'HOME.WELCOME' | translate }}</h1>
<p>{{ 'HOME.SYSTEMDESCRIPTION' | translate }}</p>
<ul>
  <li>{{ 'HOME.NEWORDERCREATE' | translate }} <a [routerLink]='["/userpanel"]'>{{ 'HOME.USERPANEL' | translate }}</a></li>
  <li>{{ 'HOME.CREATEORDERINFO' | translate }} <a [routerLink]='["/createorder"]'>{{ 'HOME.CREATEORDER' | translate }}</a> </li>
</ul>
<div *ngIf="loginRequired">
  <a [routerLink]='["/login"]'>{{ 'HOME.LOGIN' | translate }}</a> {{ 'HOME.LOGINDETAILS' | translate }}
</div>
<div *ngIf="!loginRequired">
  <p>{{ 'HOME.LISTOFCURRENTORDERS' | translate }}</p>
  <table class="table table-condensed table-hover table-striped" *ngIf="orders">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{{ 'HOME.IDCOL' | translate }}</th>
        <th scope="col">{{ 'HOME.DATECOL' | translate }}</th>
        <th scope="col">{{ 'HOME.CREATEDCOL' | translate }}</th>
        <th scope="col">{{ 'HOME.MADEBYCOL' | translate }}</th>
        <th scope="col">{{ 'HOME.EXECUTEDBYCOL' | translate }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.orderDate | date: 'dd-MM-yyyy' }}</td>
        <td>{{ order.created | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
        <td>{{ order.userMadeBy.name }}</td>
        <td>{{ order.userExecutedBy.name }}</td>
        <td>
          <button class="btn btn-primary btn-sm" [disabled]="!hideCloseOrder(order.userMadeBy.email)" (click)="closeOrder(order)">{{ 'HOME.CLOSEBTN' | translate }}</button>
          <button class="btn btn-success btn-sm" [disabled]="order.isClosed" (click)="addOrderItem(order)">{{ 'HOME.ADDYERBATOORDER' | translate }}</button>
          <button class="btn btn-danger btn-sm" (click)="showSummary(order)">{{ 'HOME.SHOWSUMMARY' | translate }}</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="orders == null || orders.length == 0">
    {{ 'HOME.NOORDERS' | translate }}
  </div>

</div>
