<h1><span class="glyphicon glyphicon-grain"></span> {{ 'YERBAS.TITLE' | translate:param }}</h1>
<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
<div>
  <button class="btn btn-success btn-sm" *ngIf="hiddeButton" (click)="createYerba()">{{ 'YERBAS.CREATENEWYERBA' | translate:param }}</button>
</div>
<p *ngIf="!yerbas"><em>{{ 'GLOBAL.LOADING' | translate:param }}...</em></p>

<table class="table table-condensed table-hover table-striped" *ngIf="yerbas">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{{ 'YERBAS.NAMECOL' | translate:param }}</th>
      <th scope="col">{{ 'YERBAS.MARKCOL' | translate:param }}</th>
      <th scope="col">{{ 'YERBAS.PRODUCENTCOL' | translate:param }}</th>
      <th scope="col">{{ 'YERBAS.COUNTRYCOL' | translate:param }}</th>
      <th scope="col">{{ 'YERBAS.COSTCOL' | translate:param }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let yerba of yerbas">
      <td><a [href]="yerba.url" data-toggle="tooltip" [title]="yerba.description" target="blank">{{ yerba.name }} </a></td>
      <td>{{ yerba.mark }}</td>
      <td>{{ yerba.producent }}</td>
      <td>{{ yerba.country }}</td>
      <td>{{ yerba.cost  | currency:'PLN':true:'2.2-4' }}</td>
      <td>
        <button class="btn btn-warning btn-sm" *ngIf="hiddeButton" (click)="editYerba(yerba)">{{ 'GLOBAL.EDIT' | translate:param }}</button>
        <button class="btn btn-danger btn-sm" *ngIf="hiddeButton" (click)="deleteYerba(yerba)">{{ 'GLOBAL.DELETE' | translate:param }}</button>
      </td>
    </tr>
  </tbody>
</table>
