<h1><span class="glyphicon glyphicon-grain"></span> Yerbas</h1>
<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
<div>
  <button class="btn btn-success btn-sm" *ngIf="hiddeButton" (click)="createYerba()">Create new yerba</button>
</div>
<p *ngIf="!yerbas"><em>Loading...</em></p>

<table class="table table-condensed table-hover table-striped" *ngIf="yerbas">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Mark</th>
      <th scope="col">Producent</th>
      <th scope="col">Country</th>
      <th scope="col">Cost</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let yerba of yerbas">
      <td><a [href]="yerba.url" data-toggle="tooltip" [title]="yerba.description" target="blank">{{ yerba.name }} </a></td>
      <td>{{ yerba.mark }}</td>
      <td>{{ yerba.producent }}</td>
      <td>{{ yerba.country }}</td>
      <td>{{ yerba.cost  | currency:'PLN':true:'2.2-4' }}</td>
      <td>
        <button class="btn btn-warning btn-sm" *ngIf="hiddeButton" (click)="editYerba(yerba)">Edit</button>
        <button class="btn btn-danger btn-sm" *ngIf="hiddeButton"  (click)="deleteYerba(yerba)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
