<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' [routerLink]='["/"]'>App</a>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-home'></span> {{ 'NAVMENU.HOME' | translate:param }}
          </a>
        </li>

        <li [routerLinkActive]='["link-active"]' *ngIf="hidden == true">
          <a [routerLink]='["/login"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-log-in'></span>  {{ 'NAVMENU.LOGIN' | translate:param }}
          </a>
        </li>

        <li [routerLinkActive]='["link-active"]' *ngIf="hidden == false">
          <a [routerLink]='["/"]' (click)='logoff()'>
            <span class='glyphicon glyphicon-log-out'></span> {{ 'NAVMENU.LOGOFF' | translate:param }}
          </a>
        </li>

        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/users"]' (click)='collapse()' *ngIf="isInRole == true">
            <span class='glyphicon glyphicon-user'></span> {{ 'NAVMENU.USERS' | translate:param }}
          </a>
        </li>

        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/yerbas"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> {{ 'NAVMENU.YERBAS' | translate:param }}
          </a>
        </li>

        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/orders"]' (click)='collapse()' *ngIf="hidden == false">
            <span class='glyphicon glyphicon-calendar'></span> {{ 'NAVMENU.ORDERS' | translate:param }}
          </a>
        </li>

        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/closedorders"]' (click)='collapse()' *ngIf="hidden == false">
            <span class='glyphicon glyphicon-calendar'></span> {{ 'NAVMENU.HISTORYORDERS' | translate:param }}
          </a>
        </li>

        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/userpanel"]' (click)='collapse()' *ngIf="hidden == false">
            <span class='glyphicon glyphicon-asterisk'></span> {{ 'NAVMENU.USERPANEL' | translate:param }}
          </a>
        </li>

        <li [routerLinkActive]='["link-active"]'>
          <select class="form-control" #langSelect (change)="translate.use(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
          </select>
        </li>

      </ul>
    </div>
  </div>
</div>
