<h1><span class="glyphicon glyphicon-modal-window"></span> {{ 'CLOSEDORDERS.TITLE' | translate:param }}</h1>
<p *ngIf="!orders"><em>{{ 'GLOBAL.LOADING' | translate:param }}...</em></p>

<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

<table class="table table-condensed table-hover table-striped" *ngIf="orders">
  <thead class="thead-dark">
  <tr>
    <th scope="col">{{ 'CLOSEDORDERS.IDCOL' | translate:param }}</th>
    <th scope="col">{{ 'CLOSEDORDERS.DATECOL' | translate:param }}</th>
    <th scope="col">{{ 'CLOSEDORDERS.CREATEDCOL' | translate:param }}</th>
    <th scope="col">{{ 'CLOSEDORDERS.MADEBYCOL' | translate:param }}</th>
    <th scope="col">{{ 'CLOSEDORDERS.EXECUTEDBYCOL' | translate:param }}</th>
    <th scope="col">{{ 'CLOSEDORDERS.TOTALQUANTITYCOL' | translate:param }}</th>
    <th scope="col">{{ 'CLOSEDORDERS.TOTALCOSTCOL' | translate:param }}</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders">
    <td>{{ order.id }}</td>
    <td>{{ order.orderDate | date: 'dd-MM-yyyy' }}</td>
    <td>{{ order.created | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
    <td>{{ order.userMadeBy.name }}</td>
    <td>{{ order.userExecutedBy.name }}</td>
    <td>{{ order.totalQuantity }}</td>
    <td>{{ order.totalCost | currency:'PLN':true:'2.2-4' }}</td>
    <td>
      <button class="btn btn-primary btn-sm" (click)="showOrder(order)">{{ 'CLOSEDORDERS.SHOWSUMMARY' | translate:param }}</button>      
    </td>
  </tr>
  </tbody>
</table>
