<h1>{{ 'SHOWSUMMARY.TITLE' | translate:param }}</h1>
<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
<div class="row">

  <div class="form-group">
    <label>{{ 'SHOWSUMMARY.ORDERID' | translate:param }}: </label> {{currentOrder?.id}}
  </div>

  <div class="form-group">
    <label>{{ 'SHOWSUMMARY.ORDERCREATED' | translate:param }}:</label> {{currentOrder.created | date: 'dd-MM-yyyy HH:mm:ss'}}
  </div>

  <div class="form-group">
    <label>{{ 'SHOWSUMMARY.ORDERDATE' | translate:param }}: </label> {{currentOrder.orderDate | date: 'dd-MM-yyyy'}}
  </div>
  <div class="form-group">
    <label>{{ 'SHOWSUMMARY.ORDEREXECUTEDBY' | translate:param }}: </label> {{currentOrder.userExecutedBy.name}} {{currentOrder.userExecutedBy.email}}
  </div>
  <div class="form-group">
    <label>{{ 'SHOWSUMMARY.ORDERMADEBY' | translate:param }}: </label> {{currentOrder.userMadeBy.name}} {{currentOrder.userMadeBy.email}}
  </div>

  <div class="form-group">
    <label>{{ 'SHOWSUMMARY.TOTALQUANTITY' | translate:param }}: </label> {{currentOrder.totalQuantity}}
  </div>

  <div class="form-group">
    <label>{{ 'SHOWSUMMARY.TOTALCOST' | translate:param }}: </label> {{currentOrder.totalCost | currency:'PLN':true:'2.2-4'}}
  </div>

  <br />
  <div class="form-group">
    <table class="table table-condensed table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">{{ 'SHOWSUMMARY.USERCOL' | translate:param }}</th>
          <th scope="col">{{ 'SHOWSUMMARY.YERBACOL' | translate:param }}</th>
          <th scope="col">{{ 'SHOWSUMMARY.QUANTITYCOL' | translate:param }}</th>          
          <th scope="col">{{ 'SHOWSUMMARY.COSTCOL' | translate:param }}</th>
          <th scope="col">{{ 'SHOWSUMMARY.TOTALCOL' | translate:param }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderItem of currentOrder.items">
          <td>{{ orderItem.userDetails.name }}</td>
          <td><a [href]="onGetYerba(orderItem.yerbaId).url" data-toggle="tooltip" [title]="onGetYerba(orderItem.yerbaId).description" target="blank">{{onGetYerba(orderItem.yerbaId).name}}</a></td>
          <td>{{ orderItem.quantity }}</td>          
          <td>{{ orderItem.cost  | currency:'PLN':true:'2.2-4' }}</td>
          <td>{{ orderItem.cost * orderItem.quantity  | currency:'PLN':true:'2.2-4' }}</td>
          <td>
            <button class="btn btn-success btn-sm" *ngIf="paimentReceived(orderItem)" (click)="confirmPaiment(orderItem)">{{ 'SHOWSUMMARY.CONFIRMPAYMENT' | translate:param }}</button>
            <button class="btn btn-warning btn-sm" *ngIf="paimentDone(orderItem)" disabled>{{ 'SHOWSUMMARY.PAYMENTRECEIVED' | translate:param }}</button>
            <button class="btn btn-danger btn-sm" *ngIf="paimentNotReceived(orderItem)" disabled>{{ 'SHOWSUMMARY.PAYMENTNOTRECEIVED' | translate:param }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="form-group" *ngIf="currentUser.id != currentOrder.madeby">
    <h2>{{ 'SHOWSUMMARY.BILLDATA' | translate:param }}:</h2>
    <div class="form-group">
      <label>{{ 'SHOWSUMMARY.BANKACCOUNT' | translate:param }}: </label> {{usertoPay?.bankAccount}}
    </div>
    <div class="form-group">
      <label>{{ 'SHOWSUMMARY.USER' | translate:param }}: </label> {{usertoPay?.name}} [{{usertoPay?.email}}]
    </div>
    <div class="form-group">
      <label>{{ 'SHOWSUMMARY.VALUE' | translate:param }}: </label> {{calculatedBill | currency:'PLN':true:'2.2-4' }}
    </div>
  </div>

<div class="form-group" *ngIf="currentUser.id === currentOrder.madeby">
  <h2><label>{{ 'SHOWSUMMARY.TOTALQUANTITY' | translate:param }}: </label> {{currentOrder.totalQuantity}}</h2>
</div>

<div class="form-group" *ngIf="currentUser.id === currentOrder.madeby">
  <h2><label>{{ 'SHOWSUMMARY.TOTALCOST' | translate:param }}: </label> {{currentOrder.totalCost * currentOrder.totalQuantity | currency:'PLN':true:'2.2-4'}}</h2>
</div>

</div>
