<div class="row">
  <h1><span class="glyphicon glyphicon-user"></span>{{ 'CREATEEDITUSER.TITLE' | translate:param }}</h1>
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  <div class="col-md-5">
    <form (submit)="onCreate()" #theForm="ngForm" invalidate>
      <div class="form-group">
        <label for="email">{{'CREATEEDITUSER.EMAIL' | translate:param }}:</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="usertoadd.email" email #email="ngModel" />
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">
          <div *ngIf="email.errors.required">
            {{'CREATEEDITUSER.EMAILISREQUIRED' | translate:param }}
          </div>
          <div *ngIf="email.errors.email">
            {{'CREATEEDITUSER.EMAILISNOTPROPER' | translate:param }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="nameField">{{'CREATEEDITUSER.NAME' | translate:param }}:</label>
        <input type="text" class="form-control" name="nameField" [(ngModel)]="usertoadd.name" [pattern]="patternDef" #nameField="ngModel" />
        <div *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)"
             class="alert alert-danger">

          <div *ngIf="nameField.errors?.required">
            {{'CREATEEDITUSER.NAMEISREQUIRED' | translate:param }}
          </div>
          <div *ngIf="nameField.errors?.pattern">
            {{'CREATEEDITUSER.NAMESHOULDHAVELETTERS' | translate:param }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="userPassword">{{'CREATEEDITUSER.PASSWORD' | translate:param }}:</label>
        <input type="password" class="form-control" name="userPassword" [(ngModel)]="usertoadd.password" required #userpassword="ngModel" />
        <password-strength-bar [passwordToCheck]="usertoadd.password" [barLabel]="barLabel"></password-strength-bar>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="lockoutenabled" [(ngModel)]="usertoadd.lockoutenabled" id="checkBoxLocked" />
          <label class="col-form-label" for="checkBoxLocked">{{'CREATEEDITUSER.LOCKUSER' | translate:param }}</label>
        </div>
      </div>

      <div class="form-group">
        <label for="bankAccount">{{'CREATEEDITUSER.BANKACCOUNTNUMBER' | translate:param }}:</label>
        <input type="text" class="form-control" name="bankAccount" [(ngModel)]="usertoadd.bankAccount" minlength="11" maxlength="17" #bankAccount="ngModel" />
        <div *ngIf="bankAccount.invalid && (bankAccount.dirty || bankAccount.touched)"
             class="alert alert-danger">

          <div *ngIf="bankAccount.errors.minlength">
            {{'CREATEEDITUSER.BANKACCOUNTTOSHORT' | translate:param }}
          </div>
          <div *ngIf="bankAccount.errors.maxlength">
            {{'CREATEEDITUSER.BANKACCOUNTTOLONG' | translate:param }}
          </div>
        </div>
      </div>

      <br />
      <h2>{{'CREATEEDITUSER.ROLES' | translate:param }}</h2>
      <div class="form-group" *ngFor="let role of roleSelections">
        <input type="checkbox" [value]="role.isChecked" [checked]="role.isChecked" (change)="$event.target.checked ? role.isChecked = true : role.isChecked = false"> {{role.name}}
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-success" value="{{(openForEdit ? 'GLOBAL.CREATE' : 'GLOBAL.UPDATE') | translate:param}}" [disabled]="theForm.invalid" />
        <a [routerLink]='["/users"]' class="btn btn-default">{{ 'GLOBAL.CANCEL' | translate:param }}</a>
      </div>
    </form>
  </div>
</div>
